<manifest
    package="org.eclipse.paho.android.service"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="org.eclipse.paho.android.service.AlarmPingSender$AlarmIntentService"
            android:exported="true"/>
    </application>

</manifest>
